<%- include ("./header") %>
		  
<nav class="navbar child-nav navbar-expand">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-tabs nav-fill w-100">
                <li class="nav-item">
                  <a class="tab nav-link"  id="meal"   href= "/addExercise">Add Exercise</a>
                </li>
                <li class="nav-item">
                    <a class="tab nav-link" id="exercise-diary" href= "/exerciseDiary">Exercise Diary</a>
                </li>
                <li class="nav-item">
                    <a class="tab nav-link" id="gym" href="/customExercise" >Custom Exercise</a>   
                </li>
                <li class="nav-item">
                     <a class="tab nav-link" id="instant-exercise" href="/addExercise">Insert search</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>