<%- include ("./header") %>
		  <link rel="stylesheet" href="/stylesheets/meal-header.css"/>

<nav class="navbar child-nav navbar-expand">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar11">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar11">
            <ul class="navbar-nav nav-tabs nav-fill w-100">
                <li class="nav-item">
                  <a class="nav-link lower"  id="meal"   href= "/addmeal">Add Meal</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link lower"   id="diary" href= "/diary">Meal Diary</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link lower"  id="kitchen" href="/customFoods" >Custom foods</a>
                </li>
                <li class="nav-item">
                     <a class=" nav-link lower" id="instant-search-tab" href="/searchInstant">Insert search for food</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>
<header class="container-fluid " >
   <%if(currentUser){%>
        <% if(error && error.length > 0) {%>
          <div id="error" class="alert alert-danger  px-4 py-1">
            <%=error %>
            </div>
        <% } %>
        
        <% if(success && success.length > 0) { %>
          <div id="success"class="alert alert-success  px-4 py-1"><p><%= success %></p></div>
        <% } %>
          
        <% if(info && info.length > 0) { %>
                <p id="info"class="alert alert-success  px-4 py-1"> <%=info%></p>
        <% } %>
     <% } %>

 <script>
   $("#error").delay(1000)
.fadeOut(function() {
   $(this).remove() 
});
 $("#success").delay(1000)
.fadeOut(function() {
   $(this).remove() 
});
 $("#info").delay(1000)
.fadeOut(function() {
   $(this).remove() 
});
      
	 var setDefaultActive = function() {
    var path = window.location.pathname;

    var element = $("#navbar11 a[href='" + path + "']");

    element.addClass("active2");
}
	</script>