<%- include ("./header") %>
		  
<nav class="navbar child-nav navbar-expand">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-tabs nav-fill w-100">
                <li class="nav-item">
                  <a class="nav-link lower"  id="meal"   href= "/addmeal">Add Meal</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link lower"   id="diary" href= "/diary">Meal Diary</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link lower"  id="kitchen" href="/customFoods" >Custom foods</a>
                </li>
                <li class="nav-item">
                     <a class=" nav-link lower" id="instant-search-tab" href="/searchInstant">Insert search for food</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>
     <script type="text/javascript">
	$(function(){
		$('.lower a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active')
		$('.lower a').click(function(){
			$(this).parent().addClass('active').siblings().removeClass('active')	
		})
	})
	</script>