<%-include ("header")%>
<h1>register here</h1>
<form>
    <input type="text" placeholder="First name" name="firstName"><br>
    <input type="text" placeholder="Last name" name="lastName"><br>
    <input type="radio" id="male" name="gender">
    <label for="male">Male</label><br>
      <input type="radio" id="female" name="gender">
    <label for="female">Female</label><br>
      <input type="radio" id="others" name="gender">
    <label for="others">Other</label><br>
    <input type="email" placeholder="your e-mail address"><br>
    <input type="password" placeholder="password"><br>
    <button >Submit</button>
</form>

<%-include ("footer")%>   