
#contents {
    width: 100%;

    font-size: 1rem;
}



#exercise-info {
    padding: 0;
    box-sizing: border-box;

}

#diary {
    border: .1rem solid gray;
}

#exercise-info .info {
    margin-left: 50%;
    width: 50%;
}

.info div {
    padding: 0;
    text-align: center;

}

#m-info,
#a-info,
#e-info {
    text-align: center;
}

#m-exercise i,
#a-exercise i,
#e-exercise i
 {
    background-color: white;
    color: red;
    text-align: center;
    display: inline-block;

    opacity: 0;

    transition: 0.1s linear;
    margin-right: .3rem
}

#m-exercise div:hover i,
#a-exercise div:hover i,
#e-exercise div:hover i
 {

    opacity: 1;
    margin-right: .3rem
}

.strip {
    padding: 10px 0;
    width: 100%;
    margin: 0;
}

.meduca {
    max-width: 100%;
    width: 100%;

}

.meduca div {

    padding: 0px;
    width: calc(100%/3);
    height: 24px;
}

.exercise-info div {
    cursor: pointer;
}
