#contents {
    width: 100%;
    padding: 0;

}

#exercise-info {
    padding: 0;
}

#exercise-info .info {
    margin-left: 50%;
    width: 50%;
}

.info div {
    padding: 0;

}

.strip {
    padding: 10px 0;
    width: 100%;
    margin: 0;
}

.meduca {
    max-width: 100%;
    width: 100%;

}

.meduca div {
    font-size: .8em;

    padding: 0px;
    width: calc(100%/3);
    height: 24px;
}

.exercise-names div {
    cursor: pointer;
}