<%-include ("../partials/header")%>

<a href="/addMeal">Add meal</a><br>
<a href="/showCalorie">show my todays calorie consumption</a><br>
<a href="/showCaloriePast">show my calorie consumption for past dates</a><br>
<a href="/addExercise">Add Exercise</a><br>
<a href="/searchInstant">Instant Search</a>
<a href="/viewProfile">View Profile</a><br>
<a href="/bmr">know ur calorie requirment</a>
<a href="/showKitchen">your local dishes and recipies</a>
<a href="/targets">Get ur macronutrient targets</a>
<%-include ("../partials/footer")%>

