<%- include ("../partials/exerciseHeader") %>
<link rel="stylesheet" href="/stylesheets/userExercise.css"/>


<div class="row">
  <div class="col-6">
    <div id="add">
    <h3>Fill  with your own custom exercise </h3>
    <form action="/customExercise" method="POST">
        <div>
           <label>Exercise Name:
           <input type="text"  name="info[exercise_name]" id="exercise_name" required >
           </label>
        </div>

        <div>
          <label>Calories burned:
          <input type="number" name="info[burnedcalories]"  id="calories"step="0.1"required  >
          </label>
        </div>
        
        <div>
          <label>MET:
               <input type="number" id="met" name="info[met]" step="0.01" required  >
          </label>
        </div>

        <div>
          <label>Duration:
               <input type="number" id="duration" placeholder="minutes" name="info[duration]" step="1" required >
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>

    </form>
  </div>
</div>
  <div class="col-6">
          <%myexercise.userexercise.forEach(function(exercise){%>
     <ul>
        <li class="exercise-name">
            <%=exercise.exercise_name%>
        </li>
     </ul>
    <%})%>
  </div>
</div>

 
 <%- include ("../partials/footer") %>
 
